
/* Your CSS Code here.*/
#main {
	width: 470px;
	border: 1px solid black;
}
#b1 {
	width: 300px;
	padding: 50px;
	border: 15px solid rgb(0, 0, 255);
	margin: 20px;
	background-color: rgb(173, 216, 230);
}
#b2 {
	width: 300px;
	background-color: rgb(173, 216, 230);
	border: 1px solid black;
    padding: 10px;
}

